<div data-bsi-element="timebased-trigger-mO9Z1B" class="d-none" x-data="timebasedTrigger">
	<div data-bsi-element-part="delay-wnR8CR" class="delay">3000</div>
	<a href="https://www.bsi-software.com" data-bsi-element-part="link-NOxBEU" data-bsi-link-fixed-inner-html></a>
</div>
